<!-- admin_register.html -->
<form action="/admin/register" method="POST" enctype="multipart/form-data">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" required><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <label for="id_card">Upload ID Card:</label><br>
    <input type="file" id="id_card" name="id_card" accept="image/*" required><br><br>
    <input type="submit" value="Register">
</form>